@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,300&subset=latin,cyrillic);
@import "reset";
@import "grid";

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
  outline: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  @include paddings();
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    width: $breakpoint-sm;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container {
    width: $breakpoint-md;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    width: $breakpoint-lg;
  }
}

.nav {
  margin-bottom: 20px;
  &__row {
    @include row();
  }
  &__link {
    text-align: center;
    @include column();
    @include column-width(1, 9);
    span {
      cursor: pointer;
      padding: 5px;
      background: #f1f1f1;
      display: block;
    }
  }
}

.list {
  &__row {
    margin-bottom: 20px;
    @include row();
  }
  &__table {
    @include column();
    @include column-width(1, 2);
    table {
      width: 100%;
    }
    caption {
      font-weight: 500;
      background: #f1f1f1;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-bottom: 0;
    }
    tr {
      &:hover {
        td {
          background: #f5f5f5;
          cursor: pointer;
        }
      }
      th {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        &:first-child {
          width: 55px;
        }
        &:last-child {
          width: 100px;
        }
      }
      td {
        text-align: center;
        font-size: 14px;
        padding: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        &:first-child {
          width: 55px;
        }
        &:last-child {
          width: 100px;
        }
      }
    }
  }
}

.modal {
  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__form {

  }
  &__input {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
  &__textarea {
    width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
  &__submit {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background: #f1f1f1;
  }
  &__select {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
}