@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,300&subset=latin,cyrillic);
@import "reset";
@import "grid";

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

input, textarea, button {
  font-size: inherit;
  border: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  @include paddings();
}

@media screen and (min-width: $breakpoint-sm) {
  .container {
    width: $breakpoint-sm;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .container {
    width: $breakpoint-md;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .container {
    width: $breakpoint-lg;
  }
}

.nav {
  margin-bottom: 20px;
  &__row {
    @include row();
  }
  &__link {
    text-align: center;
    @include column();
    @include column-width(1, 8);
    &--sorting {
      @include offset-width(3, 8);
      span {
        background: #8e44ad !important;
      }
    }
    span {
      color: #fff;
      cursor: pointer;
      padding: 5px;
      background: #16a085;
      display: block;
    }
  }
}
.list {
  &__row {
    margin-bottom: 20px;
    @include row();
  }
  &__table {
    @include column();
    @include column-width(1, 2);
    table {
      width: 100%;
    }
    caption {
      font-weight: 500;
      background: #f1f1f1;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-bottom: 0;
    }
    tr {
      &:hover {
        td {
          background: #f5f5f5;
          cursor: pointer;
        }
      }
      th {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        &:first-child {
          width: 55px;
        }
        &:last-child {
          width: 100px;
        }
      }
      td {
        text-align: center;
        font-size: 14px;
        padding: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        &:first-child {
          width: 55px;
        }
        &:last-child {
          width: 100px;
        }
      }
    }
  }
}
.modal {
  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__form {

  }
  &__input {
    font-size: 14px;
    width: 300px;
    height: 40px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
  &__error {
    font-size: 14px;
    color: #ff0000;
    text-align: center;
  }
  &__textarea {
    font-size: 14px;
    width: 300px;
    height: 150px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
  &__submit {
    width: 300px;
    height: 40px;
    display: block;
    margin: 10px auto 0 auto;
    background: #2980b9;
    color: #fff;
    text-transform: uppercase;
    &:not([disabled]) {
      &:hover {
        background: lighten(#2980b9, 5%);
      }
    }
    &[disabled] {
      opacity: .7;
    }
  }
  &__select {
    width: 300px;
    height: 30px;
    font-size: 14px;
    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
}
.inprogress-tasks {
  &__title {
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 600;
  }
  &__item {
  margin: 0 0 3px 0;
  @include row();
    &-title {
      white-space: nowrap;
      @include column();
      @include column-width(8, 10);
      span {
        font-size: 14px;
        overflow: hidden;
        max-width: calc(100% - 20px);
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        display: inline-block;
      }
      button {
        position: relative;
        cursor: pointer;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #f00;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        &:before {
          content: '';
          width: 5px;
          height: 2px;
          background: #fff;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    &-mark {
      text-align: right;
      @include column();
      @include column-width(2, 10);
      span {
        input {
          padding: 0 5px;
          text-align: right;
          overflow: hidden;
          float: left;
          width: calc(100% - 30px);
          height: 30px;
        }
        button {
          float: left;
          width: 30px;
          height: 30px;
          background: #27ae60;
          color: #fff;
          font-size: 12px;
          &[disabled] {
            opacity: .7;
          }
        }
      }
    }
  }
}
.free-tasks,
.priorities,
.select-team {
  padding-right: 10px;
  &__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 3px 0;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    padding: 0 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    background: #e67e22;
    cursor: pointer;
    &--active {
      background: darken(#e67e22, 5%);
    }
  }
}
.priorities {
  &__list {
    margin-bottom: 5px;
    li {
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
      small {
        float: left;
        width: 10%;
        text-align: center;
      }
      span {
        width: 90%;
      }
    }
  }
}